*,
**::before,
**::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  left: 0;
  top: 0;
  margin-right: 10%;
  margin-left: 10%;
}
h1 {
  font-family: 'Crete Round', serif;
  padding: 60px 0 50px 0;
  border-bottom: 1px solid #212121;
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
h2 {
  color: #091E42;
  font-family: 'Crete Round', serif;
  text-align: left;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
p {
  font-family: 'Inter', sans-serif;
  color: #091E42;
  font-weight: bold;
  text-align: left;
}
ul {
  display: inline-flex;
  justify-content: flex-start;
  list-style: none;
  gap: 10px;
  padding: 10px 10px 0 0;
  position: static;
}
#MRWTabs {
  border: 1px solid #8993A4;
  padding: 10px 12px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 15px;
  color: #091E42;
  font-weight: bold;
}
#SeeProject-btn {
  background-color: #FF6B00;
  color: #fff;
  font-family: 'Inter',sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 17px;
  padding: 12px;
  border: 0px;
  margin-top: 10px;
}